.description{
    display: flex;
    column-gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    font-size: 2vw;
    height: 70vh;
}

.description-img{
    height: 70%;
    width: auto;
}

.description-title{
    text-align: center;
    margin-bottom: 2vh;
}

.Menu-title{
    text-align: center;
}

.Menu-opts{
    display: flex;
}

.Menu-opts{
    flex: 1;
}

.Menu-opts ul{
    text-decoration: none;
    list-style-type: none;
    text-align: justify;
    list-style-position: inside;
    margin-left: 2rem;
}

.Menu-opts ul li{
    margin-top: 2rem;
}
.nav-menu{
    width: 100%;
    padding: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: whitesmoke;
}

.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.kitties{
    margin-top: 10rem;
    display: flex;
}

.kitties div{
    flex: 1;
}
.cat-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    height: 200px;
}
.cat-desc{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
    white-space: pre-line;
}

.menu-img{
    height: 300px;
    width: 300px;
    align-self: center;   
    margin-left: auto;    
}

.item:nth-child(1)::after { content: " - $8.99"; }
.item:nth-child(2)::after { content: " - $10.49"; }
.item:nth-child(3)::after { content: " - $4.50"; }
.item:nth-child(4)::after { content: " - $2.99"; }
.item:nth-child(5)::after { content: " - $1.49"; }
.item:nth-child(6)::after { content: " - $3.50"; }